<?xml version="1.0"?>
<base>
  <transform name='Experience'>
{\sl ##title##} \hfill ##date## \\
                 \begin{itemize}  \itemsep -2pt % reduce space between items
                 ##bullet##
                \end{itemize}
    </transform>
    <transform name="bullet">\item ##VAL##
</transform>
    <transform name="Contact">\address{##ad##}
</transform>
</base>